<html>
    <head>
        <title>
            Add Courses 
        </title>
    </head>
    <body>
        {% csrf_token %} 
        <center><h2>Select Courses for Student</h2></center>
        <h2>Hello {{user.username}}</h2>
         
        <form action="courseCreate/" method="POST">
            {% csrf_token %}
            <label>Student Name:</label>
            <input type="text" name="name" id="name" value="{{res.name}}"><br><br>
            <label>Student Roll Number:</label>
            <input type="text" name="roll" id="roll" value="{{res.roll}}"><br><br>
            <label>Student Department:</label>
            <input type="text" name="department" id="department" value="{{dept_name}}"><br><br>
            <select id="course" name="course">
                {% for course in courses %}
                <option value="{{course.course_title}}">{{course.course_title}}</option>
                {% endfor %}
            </select>
            <button>SUBMIT</button>
    </form>

    </body>
</html>