<html>
    <head>
        <title>
            Time Table
        </title>
    </head>
    <body>
        <h1> Time Table </h1>
        <form action="set_class" method="POST">
            {% csrf_token %}
            <label>Select Class</label>
            <select id="class_name" name="class_name">
                {% for cls in classes%}
                <option value="{{cls.class_name}}">Class-{{cls.class_name}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button>SUBMIT</button>
        </form>
    </body>
</html>