<html>
    <head>
        <title>Add Class</title>
    </head>
    <body>
        <center><h1>.....Classes List.....</h1></center>
       <table border="1">
            <tr>
                <th>Class ID</th>
                <th>Class Name</th>
                <th>Click</th>
            </tr>
            {% for cls in classes%}
            <tr>
                <td>{{cls.id}}</td>
                <td>{{cls.class_name}}</td>
                <td><a href="/api/delete_section/{{cls.id}}">Delete</a></td>
            </tr>
            {% endfor %}
       </table>
       <br>
       <br>
       <a href="/api/add_class">Add Class</a>
       
    </body>
</html>