<html>
    <head>
        <title>
            Student_List
        </title>

    </head>
<body>
   
    <h1>Student List</h1>
    <h2>Hello {{ user.username }}</h2>
    {% csrf_token %} 
    <table border="1">
        <tr>
        <th>ID</th>
        <th>Roll Number</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    {% for res in response%}
    <tr>
        <td>{{res.id}}</td>
        <td>{{res.roll}}</td>
        <td>{{res.name}}</td>
        <td>{{res.department}}</td>
       <td> <a href="/api/delete/{{res.id}}" >Delete</a></td>
       <td><a href="/api/update_student/{{res.id}}">Update</a></td>
    </tr>
    {% endfor %}
    </table>
    <br>
    <h1>Add student</h1>
    <a href="/api/add_student" class="btn btn-danger">ADD</a>

    <a href="/api/logout_user/" class="btn btn-danger">LOGOUT</a>
    {% for s in recently_updated_student %}
    <p>{{s.name}}</p>
    {% endfor %}
</body>
</html>