<html>
    <head>
        <title>
            Time Table
        </title>
    </head>
    <body>
        <h1> Time Table </h1>
        <form action="createTimeTable/" method="POST">
            <label>Select Class</label>
            <select id="class_name" name="class_name">
                <option value="{{class_section}}">{{class_section}}</option>
            </select>
            <br>
            <br>
            <label>Select Course for First Hour</label>
            <select id="first_hour" name="first_hour">
                {% for course in f_l %}
                <option value="{{course}}">{{course}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label>Select Course for Second Hour</label>
            <select id="second_hour" name="second_hour">
                {% for course in s_l%}
                <option value="{{course}}">{{course}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label>Select Course for Third Hour</label>
            <select id="third_hour" name="third_hour">
                {% for course in t_l %}
                <option value="{{course}}">{{course}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button>SUBMIT</button>
        </form>

    </body>

</html>