<html>
    <head>
        <title>Update Password</title>
    </head>
    <body>

        <center><h1>UPDATE PASSWORD</h1></center>
      
        <form action="update_password/" method="POST">
            {% csrf_token %}
       
        <label>Enter User Name :</label>
        <input type="text" name="username" id="username"><br><br>
        <label>Enter New Password</label>
        <input type="password" name="password" id="password"><br><br>
       
       
        <button>SUBMIT</button>
      
        </form>

    </body>
</html>