<html>
    <head>
        <title>All TimeTables</title>
    </head>
    <body>
        <center><h1>Class wise Time Tables</h1></center>
        <center>
            {% for time_table in response_list %}
            <h2>Class-{{time_table.0}} Time Table</h2>
            <table border="1">
                <tr>
                    <th>first_hour</th>
                    <th>second_hour</th>
                    <th>third_hour</th>
                </tr>
                <tr>
                    <td>{{time_table.1}}</td>
                    <td>{{time_table.2}}</td>
                    <td>{{time_table.3}}</td>
                    
                </tr>


            </table>

            {% endfor %}

        </center>
    </body>
</html>