<html>
    <head>
        <title>Time Table</title>
    </head>
    <body>
        <center>
            <h1>Class Time Table</h1>
            <table border="1">
                <tr>
                    <th>Class</th>
                    <th>First Hour</th>
                    <th>Second Hour</th>
                    <th>Third Hour</th>
                </tr>
                <td>{{class_name}}</td>
                <td>{{first_hour}}</td>
                <td>{{second_hour}}</td>
                <td>{{third_hour}}</td>
            </table>

        </center>

    </body>
</html>